<!DOCTYPE html>
<html>
    <head>
    <title>Detect Signs</title>
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
<body>
    <div class="row pt-2">
        <div class="col-sm-4 p-3 my-3" id="rec_chats"></div>
        <div class="col-sm-4" id="title">
            <form method="post" action="http://localhost:5000/upload/image" enctype="multipart/form-data">
                <label for="img">Select image:</label><br>
                <input type="file" id="file" name="file" accept="image/*" autocomplete="off" required><br><br>
                <button type="submit" class="btn btn-dark" id="btnDetect">Submint</button><br><br>
            </form>
        </div>
        <div class="col-sm-4"></div>
</body>